.bottoni {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  padding: {
    top: $p-top;
    bottom: $p-bottom;
  }
  button {
    color: $colore-sfondo;
    background-color: $main-color;
    font-family: $family;
    border-radius: 20px;
    height: 40px;
    font-weight: 600;
    &:hover {
      transform: scale(2);
    }
  }
}
