@import "reset";
@import "variables";
@import "bottoni";
header {
  text-align: center;
}
h1 {
  padding: {
    top: $p-top;
    bottom: $p-bottom;
  }
  color: $main-color;
  font: {
    style: italic;
  }
}
body {
  background-color: $colore-sfondo;
}

img {
  width: 100%;
}
