@import "reset";
@import "variables";
@import "bottoni";
header {
  text-align: center;
}
h1 {
  color: $main-color;
  font: {
    size: larger;
  }
}

body {
  background-color: $colore-sfondo;
}
.contenitore {
  margin-top: 20%;
  margin-bottom: 20%;

  img {
    width: 100%;
  }
}
